body {
  text-align: initial;
}
.logo {
  height: 2.5rem;
}
.header {
  margin: 0;
  height: 100%;
  padding: 0 1rem;
}

.messagesPanel .canvasPanel {
  width: 100%;
}

/* Old CSS */
.line,
#containerUserElements {
  display: flex;
}
.canvas {
  /* width: 800px;
  height: 300px; */
  margin: auto;
  background-color: #ffffff;
  border: 2px solid rgb(85, 85, 85);
  border-radius: 8px;
}
#containerDraw {
  position: relative;
  z-index: 2;
}
#drawLayer {
  background-color: transparent;
}
#containerText {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
}
#name {
  padding: 1.2% 2% 1.2% 2%;
  margin: 0 auto;
  border: 2px solid;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  /* background-color: white; */
  /* color: rgb(85, 85, 85); */
  position: absolute;
  z-index: 3;
}

/* Contains #containerUserElements */
/* #containerUserElTop{
  
} */
/* Contains tools and message canvas */
#containerUserElements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 0;
  /* background-color: #cdcdcd; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); */
}
#containerCanvas {
  position: relative;
}
#containerSizes,
#containerMssgPanel {
  /* flex-direction: row; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#containerTools,
#containerClear {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2%; */
}
.btn.toolbarButton,
.btn.mssgButton {
  margin: 3px;
  padding: 5px;
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  float: left;
  background-color: transparent !important;
}
.disableSelect {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
#draw {
  background: url("/assets/pencil.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#erase {
  background: url("/assets/eraser.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#lg,
#md,
#sm {
  background: url("/assets/circle.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#md {
  background-size: 25px auto;
}
#sm {
  background-size: 15px auto;
}
#send {
  background: url("/assets/up.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#clone {
  background: url("/assets/down.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#clear {
  background: url("/assets/clear.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
