body {
  text-align: initial;
}
.logo {
  height: 2.5rem;
  width: 2.5rem;
}
.header-logo {
  margin: 0;
  height: 100%;
  padding: 0.3rem 0;
  width: 4.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-group {
  padding: 0 1rem;
}

.messagesPanel {
  max-width: max-content;
  /* position: relative; */
}

/* Old CSS */
/* .line,
#containerUserElements {
  display: flex;
} */
/* .canvas {
  width: 450px;
  height: 180px;
  margin: auto;
  background-color: #ffffff;
  border: 2px solid rgb(85, 85, 85);
  border-radius: 8px;
}
#containerDraw {
  position: relative;
  z-index: 2;
}
#drawLayer {
  background-color: transparent;
}
#containerText {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
}
#name {
  padding: 1.2% 2% 1.2% 2%;
  margin: 0 auto;
  border: 2px solid;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  z-index: 3;
} 
*/

/* Contains #containerUserElements */
/* #containerUserElTop{
  
} */
/* Contains tools and message canvas */
#containerUserElements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  position: relative;
  bottom: 0;
}
/* #containerCanvas {
  position: relative;
} */
#containerSizes,
#containerMssgPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
#containerTools {
  margin-right: 2%;
  margin-left: 4%;
}
#sliderContainer {
  margin-top: 20px;
}
.btn.toolbarButton,
.btn.mssgButton {
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  padding: 20px;
  float: left;
  background-color: transparent !important;
}
.disableSelect {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
/* #draw {
  background: url("/assets/pencil.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#erase {
  background: url("/assets/eraser.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
} */
#lg,
#md,
#sm {
  background: url("/assets/circle.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#md {
  background-size: 25px auto;
}
#sm {
  background-size: 15px auto;
}
/* #send {
  background: url("/assets/up.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#clone {
  background: url("/assets/down.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
}
#clear {
  background: url("/assets/clear.svg");
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-position: center;
} */

.mantine-SegmentedControl-root {
  /* --sc-radius: var(--mantine-radius-sm);
  --sc-shadow: var(--mantine-shadow-xs);
  --sc-padding: var(--sc-padding-sm);
  --sc-font-size: var(--mantine-font-size-sm); */
  /* --sc-color: var(--mantine-color-violet-2); */
}
/* .mantine-SegmentedControl-indicator,
.drawErase {
  background-color: var(--mantine-color-green-1);
} */
