body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

#logo {
  width: 100%;
  height: 8rem;
  /* filter: invert(100%); */
  animation: logo 1 1s linear alternate;
}

.mantine-ActionIcon-root {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.user-color-picker {
  width: 34px;
  height: 34px;
  margin: 0 0.5em 3px 0;
  vertical-align: middle;
  display: inline-block;

  border: 2px;
  border-color: #242424;
  border-style: solid;
  /* border-radius: 5px; */

  background-color: white;
}

.username {
  margin: 0;
  display: inline-block;
}

.swatches {
  /* padding: 0 1.2em; */
}

/* @keyframes swatches {
  animation-duration: 0.5s;
} */

.swatch {
  height: 2em;
  width: 4em;
}

.mantine-ColorSwatch-childrenOverlay {
  border: 2px solid black;
  border-radius: 0;
}

.colorPopover {
  margin: 0 auto;
  text-align: justify;
}

.mantine-Paper-root {
  width: 10em;
  height: 12em;
  cursor: pointer;
}

@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
