.canvas {
  width: 450px;
  height: 180px;
  margin: auto;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 8px;
  image-rendering: pixelated;
  /* image-rendering: crisp-edges; */
}
#containerCanvas {
  position: relative;
}
#containerDraw {
  position: relative;
  z-index: 2;
}
#drawLayer {
  background-color: transparent;
}
/* #containerText {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
} */
#name {
  padding: 1.2% 2%;
  margin: 0 auto;
  position: absolute;
  opacity: 60%;
  border: 2px dashed;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  user-select: none;
  z-index: 1;
}
